.modal-container {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-container h2 {
    margin-top: 0;
  }
  
  .modal-container h3 {
    margin-top: 20px;
    font-size: 15px;
  }
  
  .modal-container .checkbox-container {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
  }
  
  .modal-container .checkbox-container .checkbox-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }
  
  .modal-container .checkbox-container .checkbox-item {
    flex-basis: 45%;
  }
  
  .modal-container button {
    margin-top: 20px;
    background-color: var(--dark-green-color);
    color: #fff;
  }
  