

.home{
    width: 100%;
    height: 110vh;
    
}
.about{
    background: rgb(140,222,123);
background: radial-gradient(circle, rgba(140,222,123,1) 13%, rgba(0,212,255,0) 100%);

}
.hero-image{
    position: relative;
    width: 100vw;
    height: auto;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/djj6woj8s/image/upload/v1686160258/Untitled_design_3_yowbvs.png");
}


.hero-image::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.hero-content{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
}
.hero-content-inner p{
    position: absolute;
    width: 236px;
    height: 29px;
    left: 250px;
    top: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.hero-content-inner h1{
font-family: 'Kalam';
font-style: normal;
font-weight: 400;
font-size: 58px;
line-height: 92px;
position: relative;
top: -220px;
}

.home-btn{
    background-color: var(--light-green-color);
    height: 60px;
    width: 180px;
    cursor: pointer;
    border-radius: 18px;
    border: none;
    font-size: 20px;
    font-family: Inter;
    position: relative;
    top:-25vh;
}
.home-btn:hover{
    background-color: var(--dark-green-color);
    color: #fff;
}
.about{
    background-color: #fff !important;
}

@media screen and (max-width: 970px){
    .hero-content-inner p{
        left: 80px;
        font-size: 25px;
        top: 90px;
    }
    .hero-content-inner h1{
       top: -200px;
       font-size: 40px;
    }
    .home-btn{
        position: relative;
        top: -200px;
    }
    .hero-image{
        background-image: url("https://res.cloudinary.com/djj6woj8s/image/upload/v1686160375/Untitled_design_4_jceppr.png");
    }
    
   
}
@media screen and (max-width: 700px) and (min-width: 400px) {

    .hero-content-inner p{
        left: -10px;
    }
     .home-btn{
        position: relative;
        top: -200px;
    }
    .hero-image{
        background-color: #fff;
    }
  }
  

@media screen and (max-width: 400px){
    .hero-content-inner p{
        left: -10px;
        top: 0px;
        font-size: 15px;
    }
    .hero-content-inner h1{
        top: -300px;
        font-size: 25px;
        line-height: 4rem;
    }
    .home-btn{
        top:0vh;
    }
    .hero-image{
        background-size: contain;
        background-image:url("https://res.cloudinary.com/djj6woj8s/image/upload/v1686207652/Untitled_design_5_ionjf3.png");
    }
}
