@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.navbar{
  /* background-color: #fff; */
  height: 100px;
  top: -5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

nav{
  position: fixed;
  z-index: 99;
  width: 100%;
  background: #fff;
  padding-top: 45px;
}
nav .wrapper{
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  height: 50px;
  line-height: 70px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* .wrapper .logo a{
  color: #222;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
} */

.logo img{
  width: 19vw;
  height: 9vh;
  margin-top: -4.5vh;
  margin-left: -6vw;
}
.wrapper .nav-links{
  display: inline-flex;
  gap: 10px;
  

}
.nav-links{
 position: relative;
 left: -30px;
}
.nav-links li{
  list-style: none;
}
.nav-links li a{
  color: #222;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  padding: 9px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav-links li a:hover{
  background: var(--light-color);
  width: 100px;
}
.nav-links .mobile-item{
  display: none;
}
.nav-links .drop-menu{
  position: absolute;
  background: #fff;
  width: 200px;
  line-height: 33px;
  top: 55px !important;
  opacity: 0;
  visibility: hidden;
  padding: 30px;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition-delay: 1s;
}
.drop-menu li a{
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
  border-radius: 0px;
  margin-bottom: 3px;
  border-bottom: 1px solid #000;
}


.mega-box{
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 55px !important;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: #fff;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}
.mega-box .content .row{
  width: calc(30% - 30px);
  line-height: 30px;
}
.content .row {
  position: relative;
}
.content .row header{
  color: #222;
  font-size: 20px;
  font-weight: 500;
  position: sticky;
  background-color: #fff;
  top: 0;
  z-index: 1;
}
.content .row .mega-links{
  margin-left: 0px;
  font-family: Inter;
  border-left: 1px solid rgba(255,255,255,0.09);
}
.row .mega-links li{
  padding: 0 20px;
}
.mega-box .content {
  display: flex;
  flex-wrap: wrap;
}

.mega-box .row {
  flex: 1 0 33%; /* Adjust the flex values as needed */
  margin-right: 20px; /* Add margin between rows */
  margin-bottom: 20px; /* Add margin between rows */
  min-width: 250px; /* Set a minimum width for each row */
  max-height: 280px; /* Add a maximum height to limit the row's height */
  overflow-y: auto; /* Add vertical scroll if content exceeds the maximum height */
}


.row .mega-links li a{
  color: #222;
  font-size: 17px;
  display: block;
  width: 100%;
  margin-bottom: 3px;
  border-bottom: 1px solid #000;
}
.row .mega-links li a:hover{
  color: #222;
}
.wrapper .btn{
  color: #222;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.wrapper .btn.close-btn{
  position: absolute;
  right: 30px;
  top: 10px;
}

.signin{
    background-color: var(--light-green-color);
    margin: 2px;
    margin-top: 8px;
    margin-right: -80px;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    border: none;
    height: 50px;
    border-radius: 30px;
    padding: 0px 10px;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-icon {
  color: black;
  font-size: 2.5rem;
  position: relative;
  top: -5px;
  left: 80px;
}

.cart-length {
  background-color: green;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  height: 1.2rem;
  width: 1.2rem;
  position: relative;
  top: -4.5rem;
  right: -6rem;
}
/* .navbar-cart{
  font-size: 43px;
  cursor: pointer;
  position: relative;
  left: 100px;
} */
@media screen and (max-width: 970px) {
    .wrapper .btn{
      display: block;
    }
    .wrapper .nav-links{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 350px;
      top: 0;
      left: -100%;
      background: #fff;
      display: block;
      padding: 50px 10px;
      line-height: 50px;
      overflow-y: auto;
      box-shadow: 0px 15px 15px rgba(0,0,0,0.18);
      transition: all 0.3s ease;
    }

    .cart-icon {
      color: black;
      font-size: 2rem;
      position: relative;
      top: -0px;
      left: 35px;
    }
    .cart-length {
      left: 3rem;
      top: -4rem;
    }
    
    /* custom scroll bar */
    ::-webkit-scrollbar {
      width: 10px;
    }
    ::-webkit-scrollbar-track {
      background: #fff;
    }
    ::-webkit-scrollbar-thumb {
      background: var(--light-color);
    }
    #menu-btn:checked ~ .nav-links{
      left: 0%;
    }
    #menu-btn:checked ~ .btn.menu-btn{
      display: none;
    }
    #close-btn:checked ~ .btn.menu-btn{
      display: block;
    }
    .nav-links li{
      margin: 15px 10px;
    }
    .nav-links li a{
      padding: 0 20px;
      display: block;
      font-size: 20px;
    }
    .nav-links .drop-menu{
      position: static;
      opacity: 1;
      top: 65px;
      visibility: visible;
      padding-left: 20px;
      width: 100%;
      max-height: 0px;
      overflow: hidden;
      box-shadow: none;
      transition: all 0.3s ease;
    }
    
    #showDrop:checked ~ .drop-menu,
    #showMega:checked ~ .mega-box{
      max-height: 100%;
    }
    .nav-links .desktop-item{
      display: none;
    }
    .nav-links .mobile-item{
      display: block;
      color: #222;
      font-size: 20px;
      font-weight: 500;
      padding-left: 20px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease;

    }
    .nav-links .mobile-item:hover{
      background: var(--light-color);
    }
    .drop-menu li{
      margin: 0;
    }
    .drop-menu li a{
      border-radius: 5px;
      font-size: 18px;
    }
    .mega-box{
      position: static;
      top: 65px;
      opacity: 1;
      visibility: visible;
      padding: 0 20px;
      max-height: 0px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    .mega-box .content{
      box-shadow: none;
      flex-direction: column;
      padding: 20px 20px 0 20px;
    }
    .mega-box .content .row{
      width: 100%;
      margin-bottom: 15px;
      border-top: 1px solid rgba(255,255,255,0.08);
    }
    .mega-box .content .row:nth-child(1),
    .mega-box .content .row:nth-child(2){
      border-top: 0px;
    }
    .content .row .mega-links{
      border-left: 0px;
      padding-left: 15px;
    }
    .row .mega-links li{
      margin: 0;
    }
    .content .row header{
      font-size: 19px;
    }

    .signin{
      padding: 10px;
      width: 100px;
      margin-left: 10%;
      display: flex;
      justify-content: center;
    }
    /* .navbar-cart{
      display: flex;
      justify-content: center;
      margin-top: -60px;
      margin-left: 53%;
      font-size: 50px;
    } */
    .logo img{
      width: 185px;
      height: 93px;
      margin-left: -30px;
      left: -30px;
      margin-top: -46px;
  
    }
  }
  nav input{
    display: none;
  }
  
  .body-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 0 30px;
  }
  .body-text div{
    font-size: 45px;
    font-weight: 600;
  }

/* .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: aqua;
    color: #222;

}
.navbar-logo{

}

.nav-menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75px;
}
.nav-links{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
} */

