.user-options {
  position: relative;
  height: 1vw;
  width: 1vw;
  top: 1.5vw;
  left:0.5vw;
  /* left: 90vw;
  top: 3.5vh !important;
  z-index: 0; */
}

@media (max-width: 970px) {
  .user-options {
    position:absolute;
    left: 5vw;
    height: 2vh;
    width: 2vw;
    top: -4vh;
  }
}
/* .speedDial {
    position: fixed;
    right: 18vmax;
    top: 4vmax;
  }
  
  .speedDialIcon {
    width: 56px;
    height: 56px;
    border-radius: 100%;
    background-color: var(--dark-green-color);
  }
  .tooltipStyle{
    font-size: 23px;
  }

  @media screen and (min-width: 700px) {
    .speedDial {
        right: 5vmax;
        top: 1.5vmax;
    }
  }
  
   */