@media only screen and (min-width: 600px) {
    .modal-container {
        background-color: white;
        padding: 20px;
        border-radius: 20px;
        height: 78vh;
        width: 50vw;
        margin-top:20vh;
        margin-left: 25vw;
        /* display: flex;
        flex-direction: column; */
        align-items: center;
      }
    }
    @media only screen and (max-width: 600px) {
      .modal-container {
          background-color: white;
          padding: 20px;
          border-radius: 20px;
          height: 110vh;
          width: 100vw;
          margin-left: 10vw;
          /* display: flex;
          flex-direction: column; */
          align-items: center;
        }
      }
      .modal-container h2 {
        margin-top: 0;
        margin-left: 17vw;
      }
      
      .modal-container h6 {
        margin-top: 20px;
        font-size: 15px;
      }
      
      .modal-container .checkbox-container {
        display: flex;
        flex-wrap: wrap;
        font-size: 12px;
      }
      
      .modal-container .checkbox-container .checkbox-row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }
      
      .modal-container .checkbox-container .checkbox-item {
        flex-basis: 45%;
      }